<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}の投稿"%>
      </h2>
      <div class="user__card">
        <%= render partial: "posts/post", collection: @posts %>
      </div>
    </div>
  </div>
</div>