<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
</main>