<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "#{current_user.name}", "/users/#{current_user.id}", class: :greeting__link%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    <%= render partial: "post", collection: @posts %>
    </div>
  </div>
</main>
